{% extends 'index.html' %}
 {% block js %} 
    {% load static %}
        <script src="http://d3js.org/d3.v3.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.js"></script>
        <script src={% static "liquidFillGauge.js" %}></script>
        <script src={% static "resv/app.js" %}></script>
        <script src={% static "resv/mapApp.js" %}></script>
 {% endblock %}
 
   {% block content %}

<script>
    var name = '{{ resv.name }}';
    var lat = '{{ resv.lat }}';
    var long = '{{ resv.long }}';
    var maxLevel = '{{ resv.maxLevel }}';

</script>

<div class="row details">
    <div class="col-md-10 col-md-offset-1">
        <h2>Zbiornik {{ resv }}</h2>
    </div>
</div>
<div class="row">

    <div class="col-md-6 details text-center">
        <div class="desc">
            <h4>Ostatni pomiar: <span id="actualLevel"></span><span id="hour"></span></h4>

        </div>
    </div>
    <div class="col-md-6 details">
        <svg id="fillgauge1" width="40%" height="200" onclick="gauge1.update(NewValue());"></svg>
    </div>

</div>
<div class="row">
    <div class="col-md-3 col-md-offset-1 details text-center mapContainer">
        <div id="singleMap"></div>
    </div>
    <div class="col-md-5 col-md-offset-1 details text-center" id='chart'>
        <!--        <div class="chart-container" style="position: relative; height:20vh; width:40vw">-->
        <canvas id="myChart"></canvas>
        <!--        </div>-->
    </div>
</div>
<div class="row hidden">
    <div class="col-md-8 col-md-offset-2 details text-center">
        <div class="btn-group" role="group" aria-label="...">
            <button type="button" class="btn btn-default">24 h</button>
            <button type="button" class="btn btn-default">7 dni</button>
            <button type="button" class="btn btn-default">30 dni</button>
        </div>
    </div>
</div>

{% endblock %}
